<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include nav.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <ul>
          <li>
            <a href="https://photos.app.goo.gl/1ALAR92LrWq4tfzt7">
              <h3>Best photos</h3>
              <img src="https://lh3.googleusercontent.com/pw/AM-JKLU5xy5gZmz_TcjKWRLLISi-SUv6naNM2qCeS0B_FGJuw3_hcWRCU7Izuo8ROEhEqtho4z-9-703B1j0K-CjU_L98bhXScCEo3Evf1tnURy36_yduqbIYlFcQvvw3gEkt7mJacelwZYrFYaUhS7F1Apv=w1900-no">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=N28SeWSXqsc">
              <h3>Video</h3>
              <img src="https://lh3.googleusercontent.com/pw/AM-JKLV9fExxgcthPOdduxlYK9jLamnp2Fe6JoBWdBSLsAjkv4Z2VyC_PRk0bz8GfBlSacSzMzBME4Gz92Rh6Enmnulm3e8MHCejEy6XAm16jzEQIU4jVnubVval6pfic-gki7Ix_VlPjQ4zUCY2yXYer_E2=w1900-no">
            </a>
          </li>
          <li>
            <a href="https://photos.app.goo.gl/YaCarbLRKVV41DLT7">
              <h3>All photos</h3>
              <img src="https://lh3.googleusercontent.com/pw/AM-JKLVUtfLD0w8iazPXOTxQ4AbnfakfNJ18Ns7g_keJyWQF1KRUyRJtpakFM9y-prGd6NZ2ejPGI4z02n22tbHu4zpD_SlfAxneazLnOLxqaEZBcrUaTZ5C4nYGa8CxbRk3xXJ6XTS1JqdZRfJx46pm_ri1=w1900-no">
            </a>
          </li>
          <li>
            <a href="https://photos.app.goo.gl/MPh4s8fBbydyW79e9">
              <h3>Bloopers</h3>
              <img src="https://lh3.googleusercontent.com/pw/AM-JKLVhxYv9vCDug0T42E2Mz3j9ZtKsuLldasSmQ9ZSoIxgNRtbXLDQ6k51XtPoulnJsOUADMpwNZU5ziWDkPe-QcUCVTQ1yJieHYAWc0oYuxgSVBGLZsndUrIEotPWmi_UHEcdOgPtpQ2usMkAJmUL9rGV=w1900-no">
            </a>
          </li>
        </ul>
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
